:host {
    table {
        width: 100%;
        
        thead {
            th {
                text-align: center;
            }
        }

        tbody {
            background: #d4a853;
            th {
                text-align: center;
                background: #faf0e6;
            }
            td {
                border-right: 2px solid black;
                background: #d4a853;
                text-align: center;
                height: 30\5px;
                position: relative;

                .badge {
                    position: absolute;
                    top: 25%;
                    right: 5px;
                }

                hr {
                    border-color:white;
                }
            }

            td.bridge {
                border-right: none;
            }
        }
    }
}