<table *ngIf="model">
    <thead>
        <tr>
            <th *ngFor="let item of [].constructor(model.semiToneCount+1); let i = index" [style.width]="getFretWidth(i)">{{ i }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of finalStrings">
            <th (click)="emitOpenStringClicked(s)" [class.text-primary]="openStringIsPrimary(s)">{{ s.openStringNote.name }}</th>
            <td *ngFor="let sn of s.stringNotes" (click)="emitStringNoteClicked(s, sn)">
                <div class="badge" [class.badge-light]="!isStringNotePrimary(s, sn)" [class.badge-primary]="isStringNotePrimary(s, sn)" *ngIf="showStringNote(s, sn)">{{ sn.note.name }}</div>
                <hr [style.border-top-width]="getStringWidth(s)">
            </td>
            <td class="bridge">
                <hr [style.border-top-width]="getStringWidth(s)">
            </td>
        </tr>
    </tbody>
</table>