<table *ngIf="model">
    <thead>
        <tr>
            <th *ngFor="let item of [].constructor(model.semiToneCount+1); let i = index" [style.width]="getFretWidth(i)">{{ i }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of finalStrings">
            <th [class.font-weight-bold]="isInNotes(s.openStringNote)" (click)="emitOpenStringClicked(s)" [class.text-primary]="isInNotes(s.openStringNote)">{{ s.openStringNote.name }}</th>
            <td *ngFor="let sn of s.stringNotes" (click)="emitStringNoteClicked(sn)">
                <div class="badge" [class.badge-light]="!isInNotes(sn.note)" [class.badge-primary]="isInNotes(sn.note)" *ngIf="showNote(sn.note)">{{ sn.note.name }}</div>
                <hr [style.border-top-width]="getStringWidth(s)">
            </td>
            <td class="bridge">
                <hr [style.border-top-width]="getStringWidth(s)">
            </td>
        </tr>
    </tbody>
</table>